// Styling for the elements which get rendered by renderer

a {
	color: $link-color;
	&:hover {
		color: darken($link-color, 30%);
	}
}

h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}

p {
	margin: 0 0 10px;
}

pre {
	padding: 9.5px;
	margin: 0 0 10px;
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #bbb;
}