{namespace td=TechDivision\Neos\DocViewer\ViewHelpers}


<div class="opener-wrapper">
    <i class="icon-reorder opener"></i>
</div>

<div class="content">
    <f:render section="node" arguments="{node: node}"/>
</div>

<f:section name="node">

    <f:if condition="{node.isDir}">
        <f:then>
            {node.name}
            <ul>
                <f:for each="{node.content}" as="nodeChild">
                    <li><f:render section="node" arguments="{node: nodeChild}"/></li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <f:if condition="{node.isParseable}">
                <f:then>
                    <f:link.action action="show" arguments="{packageKey: node.packageKey, packageType: node.packageType, filePath: node.path}" title="{node.path}">
                        <f:if condition="{node.active}">
                            <f:then>
                                <b>{node.name}</b>
                            </f:then>
                            <f:else>
                                {node.name}
                            </f:else>
                        </f:if>
                    </f:link.action>
                </f:then>
                <f:else>
                    <a href="{td:resourceUrl(packageType: node.packageType, packageKey: node.packageKey, filePath: node.path)}">
                        {node.name}
                    </a>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>